@charset "UTF-8";

* {
	margin:0;
	font-size: 0.695vw;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
}

h1 {
	color: #0C0C0C;
	font-family: 'Transducer Medium', Transducer;
	font-size: 8.5em;
	font-weight: normal;
}

h2 {
	font-family: "Roboto Bold", Roboto;
	font-size: 3em;
	color: #343537
}

button {
	border: none;
	background-color: rgba(255,255,255,0);
	border-radius: 64px;
}

button:hover {
	filter: drop-shadow(0px 1px 2px rgba(42,42,42,0.4));
}

a:hover {
	filter: drop-shadow(0px 2px 5px rgba(52, 53, 55, 0.4));
}

p1 {
	color: #404040;
	font-family: 'EthnocentricRg-Regular', Ethnocentric;
	font-size: 35px;
}

p2 {
	color: #3B3C3F;
	font-family: 'Roboto Regular', Roboto;
	font-size: 30px;
}

ul {
	color: #343537;
	font-family: 'Roboto Regular', Roboto;
	font-size: 30px;
	margin-top: 20px;
}

ol {
	color: #343537;
	font-family: 'Roboto Regular', Roboto;
	font-size: 30px;
}

.hCentre {
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

.zstackParent {
	position: relative;
}

.zstackLeftChild {
	position: absolute;
	top: var(--top, 0);
	bottom: var(--bottom, 0);
	right: var(--right, 0);
	left: var(--left, 0);
}

.zstackCentreChild {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.hstack {
	width:100%;
	display: flex;
  	flex-direction: row;
	align-items: center;
}

.hstackTopAligned {
	width:100%;
	display: flex;
  	flex-direction: row;
	align-items:flex-start;
}

.vstack {
	width: 100%;
	display: flex;
  	flex-direction: column;
	align-items: center;
}

.vstackLeftAligned {
	width: 100%;
	display: flex;
  	flex-direction: column;
	align-items:flex-start;
}


#navBar {
	width: 93%;
}

#navBarBase {
	width: 100%;
}

#navBarItems {
	width: 92%;
}

#navBarItems a:hover {
	filter: drop-shadow(0px 2px 5px rgba(52, 53, 55, 0.4));
}

#footer {
	width:100%;
}

#footerItems {
	width: 100%;
}

#footerItems a h5 {
	font-family: "Roboto Medium", Roboto;
	font-size: 3em;
	color: #343537
}

#footerItems a:hover {
	filter: drop-shadow(0px 2px 5px rgba(52, 53, 55, 0.4));
}

#PageTitle {
	text-align:center;
	margin-top: 3%;
	margin-bottom: 7%;
}

.section {
	margin-bottom: 50px;
}

.subheading {
	padding-top: 25px;
}

.text {
	padding-top: 25px;
	padding-bottom: 25px;
	margin-right: 5%;
	width: 100%;
}

#pageContent {
	margin-right: 10%;
	margin-left: 10%;
}

.aboutImage {
	width: 20%;
	border-radius: 30px;
	margin-top: 25px;
}

input {
	width: 100%;
	height: 63px;
	border-radius: 15px;
	border-color: #343537;
	border-width: 2px;
	border-style: solid;
	font-family: 'Roboto Regular', Roboto;
	font-size: 25px;
}

textarea {
	width: 100%;
	height: 221px;
	border-radius: 15px;
	border-color: #343537;
	border-width: 2px;
	border-style: solid;
	font-family: 'Roboto Regular', Roboto;
	font-size: 25px;
	padding-top: 5px;
}

input:focus, textarea:focus {
	outline: none;
}

#submitButton {
	width: 15%;
	margin-right: 1.25%;
	background-color: #404040;
	border-color: #BFBEBD;
	color: #FFFFFF;
	font-weight: bold;
}

#resetButton {
	width: 15%;
	background-color: #FFFFFF;
	color: #404040;
	font-weight: bold;
}

#resetButton:hover, #submitButton:hover {
	filter: drop-shadow(0px 1px 2px #404040);
}